@model ASP_MVC_SitePandas.Models.ListeDattente;
@{
    ViewData["Title"] = "Home Page";
}


<body style="margin-top:0%;">
    <!-- ======= Hero Section ======= -->
    <section id="hero">
        <div class="hero-container" data-aos="fade-in">
            <h1>Bienvenue à la garderie des Petits Pandas</h1>
            <img class="img-fluid" style="height:550px; width:auto;" src="assets/img/Title/icon.png" alt="Hero Imgs" data-aos="zoom-out" data-aos-delay="100">
        </div>
    </section>
    <!-- End Hero Section -->
    
    <main id="main">
        <!-- ======= Get Started Section ======= -->
        <section id="about-us" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>présentation de la garderie </h2>
                </div>
            </div>
    
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="100">
                        <div class="feature-block">
                            <img src="assets/img/base/panda1.png" alt="img">
                            <h4>sujet 1</h4>
                            <p>Nous somme un service de garde acrédité par le gouvernement</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="200">
                        <div class="feature-block">
                            <img src="assets/img/base/panda2.png" alt="img">
                            <h4>sujet 2</h4>
                            <p>Nous somme une garderie en milieu familiale</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-4" data-aos="zoom-in" data-aos-delay="300">
                        <div class="feature-block">
                            <img src="assets/img/base/panda3.png" alt="img">
                            <h4>sujet 3</h4>
                            <p>nous offrons des aires de jeux morderne</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Get Started Section -->

        <!-- ======= Features Section ======= -->
        <section id="features" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>Avantage du site</h2>
                    <p class="separator">Voici les avantage du site de la garderie.</p>
                </div>
    
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-md-6 col-lg-3">
                        <div class="feature-block">
                            <img src="assets/img/icon/calendar.png" alt="img">
                            <h4>calendrier</h4>
                            <p>Le site contien un calendrier des évènements à venir.</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3">
                        <div class="feature-block">
                            <img src="assets/img/icon/share.png" alt="img">
                            <h4>chat</h4>
                            <p>Vous avez acces a un chat privé avec l'éducatrice de votre enfant.</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3">
                        <div class="feature-block">
                            <img src="assets/img/icon/file.png" alt="img">
                            <h4>dossier en ligne</h4>
                            <p>vous avez acces au dossier de votre enfant en tout temps.</p>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3">
                        <div class="feature-block">
                            <img src="assets/img/icon/data-transfer.png" alt="img">
                            <h4>Transfert de fichier facile</h4>
                            <p>Partage de fichier intégré au site internet.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Features Section -->

        <!-- ======= Screenshots Section ======= -->
        <section id="screenshots" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>photo</h2>
                    <p class="separator">Voici les photos de la garderie.</p>
                </div>
    
                <div class="screens-slider swiper">
                    <div class="swiper-wrapper align-items-center">
                        <div class="swiper-slide"><img src="assets/img/garderie/1.jpg" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/garderie/2.jpg" class="img-fluid" alt=""></div>
                        <div class="swiper-slide"><img src="assets/img/garderie/3.jpg" class="img-fluid" alt=""></div>
                    </div>

                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </section>
        <!-- End Screenshots Section -->

        <!-- ======= Team Section ======= -->
        <section id="team" class="padd-section text-center">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>Personnel</h2>
                    <p class="separator">Voici le personel de la garderie.</p>
                </div>
    
                <div class="row justify-content-md-center">
                    <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="300">
                        <div class="team-block bottom">
                            <img src="assets/img/team/jonathan.png" class="img-responsive" alt="img">
                            <div class="team-content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                </ul>
                                <span>Conjoint</span>
                                <h4>Jonathan Bélanger</h4>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-md-4 col-lg-3" data-aos="zoom-in" data-aos-delay="400">
                        <div class="team-block bottom">
                            <img src="assets/img/team/lauriane.png" class="img-responsive" alt="img">
                            <div class="team-content">
                                <ul class="list-unstyled">
                                    <li><a href="#"><i class="bi bi-facebook"></i></a></li>
                                    <li><a href="#"><i class="bi bi-twitter"></i></a></li>
                                    <li><a href="#"><i class="bi bi-linkedin"></i></a></li>
                                </ul>
                                <span>éducatrice de la petite enfance</span>
                                <h4>Laurianne Fournier</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Team Section -->

        <!-- ======= Pricing Section ======= -->
        <section id="pricing" class="padd-section text-cente">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>Tarif de la garderie</h2>
                    <p class="separator">Voici les tarif de la garderie selon l'âge de l'enfants.</p>
                </div>
    
                <div class="row" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-md-6 col-lg-3">
                        <div class="block-pricing">
                            <div class="pricing-table">
                                <h4>Enfant 18 mois et moins</h4>
                                <h2>63,63$/Jour</h2>
                                <ul class="list-unstyled">
                                    <li><b>5</b> Jours par Semaine</li>
                                    <li>De 7h à 17h</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3">
                        <div class="block-pricing">
                            <div class="pricing-table">
                                <h4>Enfant entre 18 et 47 mois</h4>
                                <h2>40,07$/Jour</h2>
                                <ul class="list-unstyled">
                                    <li><b>5</b> Jours par Semaine</li>
                                    <li>De 7h à 17h</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3">
                        <div class="block-pricing">
                            <div class="pricing-table">
                                <h4>Enfant entre 48 et 59 mois</h4>
                                <h2>32,22$/Jour</h2>
                                <ul class="list-unstyled">
                                    <li><b>5</b> Jours par Semaine</li>
                                    <li>De 7h à 17h</li>
                                </ul>
                            </div>
                        </div>
                    </div>
    
                    <div class="col-md-6 col-lg-3">
                        <div class="block-pricing">
                            <div class="pricing-table">
                                <h4>Retard</h4>
                                <h2>5$/Heure de retard</h2>
                                <ul class="list-unstyled">
                                    <li><b>5</b> Jours par Semaine</li>
                                    <li>tarif après 17h</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Pricing Section -->

        <!-- ======= Contact Section ======= -->
        <section id="contact" class="padd-section">
            <div class="container" data-aos="fade-up">
                <div class="section-title text-center">
                    <h2>Inscription</h2>
                    <p class="" style="text-align: center">Veuillez-remplir les champ ci-dessous pour <br> inscrire vôtre enfant à la liste d'attente et nous vous <br> recontacterons lorsqu'une place sera disponible.</p>
                </div>
    
                <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">
                    <div class="col-lg-3 col-md-4">
                        <div class="info">
                            <div>
                                <i class="bi bi-geo-alt"></i>
                                <p>40 Rue Du Mistral<br>Sainte-Catherine-de-la-Jacques-Cartier, QC G3N 2S3</p>
                            </div>
    
                            <div class="email">
                                <i class="bi bi-envelope"></i>
                                <p>info@example.com</p>
                            </div>
    
                            <div>
                                <i class="bi bi-phone"></i>
                                <p>+1 (581) 922-0698</p>
                            </div>
                        </div>
    
                        <div class="social-links">
                            @*<a href="#" class="twitter"><i class="bi bi-twitter"></i></a>*@
                            <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                            <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                            @*<a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>*@
                        </div>
                    </div>
                    
                    <div class="col-lg-5 col-md-8">
                        <div class="form">
                            <form asp-action="Index">
                                @*role="form" class="php-email-form"*@
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <input asp-for="Nom" type="text" class="form-control" id="name" placeholder="Votre nom" required />
                                    <span asp-validation-for="Nom" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="padding-top: 10px">
                                    <input asp-for="Prenom" type="text" class="form-control" id="name" placeholder="Votre prénom" required />
                                    <span asp-validation-for="Prenom" class="text-danger"></span>
                                </div>
                                <div class="form-group" style="padding-top: 10px">
                                    <input asp-for="Telephone" type="text" class="form-control" id="name" placeholder="Votre téléphone" required />
                                    <span asp-validation-for="Telephone" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-3">
                                    <input asp-for="Couriel" type="email" class="form-control" id="email" placeholder="Votre courriel" required />
                                    <span asp-validation-for="Couriel" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-3">
                                    <input asp-for="NombreEnfants" type="number" class="form-control" id="nombreEnfant" placeholder="Nombre d'enfants" required />
                                    <span asp-validation-for="NombreEnfants" class="text-danger"></span>
                                </div>
                                <div class="form-group mt-3">
                                    <textarea asp-for="Description" class="form-control" rows="5" placeholder="Message" required></textarea>
                                </div>
                                <div style="margin-top:10px" class="text-center"><button class="btn" style="background-color:limegreen" type="submit" value="Index">Envoyer la demande</button></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- End Contact Section -->
    </main>
</body>
