@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>eStartup Bootstrap Template - Index</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="~/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="~/assets/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Roboto:100,300,400,500,700|Philosopher:400,400i,700,700i" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="~/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="~/assets/css/style.css" rel="stylesheet">
    <link href="~/css/site.css" rel="stylesheet">

</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="container d-flex align-items-center justify-content-between">

            <div id="logo">
                <h1><a asp-controller="Home" asp-action="Index"><span>Les </span>Petits Pandas</a></h1>
            </div>

            <nav id="navbar" class="navbar">
                <ul>
                    <li><a class="nav-link scrollto active" href="~/#hero">Home</a></li>
                    <li><a class="nav-link scrollto" href="~/#about-us">À propos</a></li>
                    <li><a class="nav-link scrollto" href="~/#features">Avantages</a></li>
                    <li><a class="nav-link scrollto" href="~/#screenshots">Photos</a></li>
                    <li><a class="nav-link scrollto" href="~/#team">Personnels</a></li>
                    <li><a class="nav-link scrollto" href="~/#pricing">Tarifs</a></li>
                    <li><a class="nav-link scrollto" href="~/#contact">Inscription</a></li>
                    @if (User.IsInRole("User"))
                    {
                        <li class="dropdown">
                            <a href="#"><span>Menu parent</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>
                                <li><a asp-controller="DocumentsParents" asp-action="Index">Documents</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Modification des informations</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a asp-controller="AllergiesEnfants" asp-action="Index">Allergies</a></li>
                                        <li><a asp-controller="Medicaments" asp-action="Index">Medicaments</a></li>
                                        <li><a asp-controller="PersonnesAutoriser" asp-action="Index">Personnes autorisées</a></li>
                                        <li><a asp-controller="Repondants" asp-action="Edit">Informations personnels</a></li>
                                        <li><a asp-controller="Enfant" asp-action="Index">Enfants</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Evenement" asp-action="Index">Calendrier</a></li>
                                <li><a asp-controller="Message" asp-action="Index">Messages</a></li>
                            </ul>
                        </li>
                    }
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#"><span>Menu éducatrice</span> <i class="bi bi-chevron-down"></i></a>
                            <ul>                                
                                <li><a asp-controller="DocumentsGeneralesController1" asp-action="Index">Documents générales</a></li>
                                <li class="dropdown">
                                    <a href="#"><span>Modification des informations</span> <i class="bi bi-chevron-right"></i></a>
                                    <ul>
                                        <li><a asp-controller="Educatrices" asp-action="Index">Informations personnels</a></li>
                                        <li><a asp-controller="Enfant" asp-action="Index">Enfants</a></li>
                                        <li><a asp-controller="Repondants" asp-action="Index">Répondants</a></li>
                                        <li><a asp-controller="Medicaments" asp-action="Index">Medicaments</a></li>
                                        <li><a asp-controller="PersonnesAutoriser" asp-action="Index">Personnes autorisées</a></li>                                                                               
                                        <li><a asp-controller="Evenements" asp-action="Index">Ajouter évenement</a></li>
                                        <li><a asp-controller="TypeEvenements" asp-action="Index">Ajouter un type d'évenement</a></li>                                        
                                        <li><a asp-controller="AllergiesEnfants" asp-action="Index">Allergies des enfants</a></li>
                                        <li><a asp-controller="Allergies" asp-action="Index">Allergies</a></li>
                                        <li><a asp-controller="DocumentsParents" asp-action="Index">Documents des répondants</a></li>
                                        <li><a asp-area="Identity" asp-page="/Account/Register">Ajouter un utilisateur</a></li>
                                        <li><a asp-controller="AspNetUserRoles" asp-action="Edit">Gestion des utilisateurs</a></li>
                                    </ul>
                                </li>
                                <li><a asp-controller="Evenement" asp-action="Index">Calendrier</a></li>

                                <li><a asp-controller="Message" asp-action="Index">Messages</a></li>                               
                            </ul>
                        </li>
                    }                   
                    
                    <partial name="_LoginPartial" />
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>

            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <!-- ======= Footer ======= -->
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-12 col-lg-4">
                    <div class="footer-logo">

                        <a class="navbar-brand" href="#">Garderie Les Petits Pandas</a>
                        <p>Site internet fait pour la garderie Les Petits Pandas dans le cadre du project finale du cours programmeur-analyste de Multihexa. Réaliser par Maxime Gravel, Keven Beaulieu et Simon-Pierre Gagnon</p>

                    </div>
                </div>
                <div class="container">
                    <p style="color:white">&copy; Copyrights P95BoYz. Tout droit réserver.</p>
                    <div class="credits">
                       
                    </div>
                </div>
                
            </div>
        </div>

    </footer><!-- End  Footer -->

    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <!-- Vendor JS Files -->
    <script src="~/assets/vendor/aos/aos.js"></script>
    <script src="~/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="~/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="~/assets/vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="~/assets/js/main.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>