@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
    
    <li class="nav-item">
        <form class="nav-link scrollto active" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn-link btn scrollto active">Déconnection</button>
        </form>
    </li>
    <li class="nav-item">
        <a class="nav-link scrollto active" title="Manage">Hello @User.Identity?.Name!</a>
    </li>
}
else
{
    @*<li class="nav-item">
        <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
    </li>*@
    <li class="nav-item">
        <a class="nav-link scrollto active" asp-area="Identity" asp-page="/Account/Login">S'authentifier</a>
    </li>
}
 @*asp-area="Identity" asp-page="/Account/Manage/Index"*@

