@model ASP_MVC_SitePandas.Models.Educatrice;
@{
    ViewData["Title"] = "Edit";

}

<section id="Educatrice" class="padd-section">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Educatrices</h2>
            <p class="" style="text-align: center">Veuillez remplir les champs ci dessous pour modifier les informations de l'éducatrice.</p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">


            <div class="col-lg-5 col-md-8">

                <div class="form">
                    <form asp-action="Edit">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <input type="hidden" asp-for="Id" />
                        <div class="form-group">
                            <input asp-for="Nom" type="text" class="form-control" id="Nom" placeholder="Nom de l'éducatrice" required>
                            <span asp-validation-for="Nom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Prenom" type="text" class="form-control" id="Prenom" placeholder="Prenom de l'éducatrice" required>
                            <span asp-validation-for="Prenom" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <select asp-for="Sexe" style="color:gray" id="sexeEducatrice" class="form-select" aria-label="Default select example">
                                <option selected value="M">Masculin</option>
                                <option value="F">Féminin</option>
                            </select>
                            <span asp-validation-for="Sexe" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="Adresse" type="text" class="form-control" id="Adresse" placeholder="Adresse" required>
                            <span asp-validation-for="Adresse" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input asp-for="Ville" type="text" class="form-control" id="ville" placeholder="Ville" required>
                            <span asp-validation-for="Ville" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input asp-for="CodePostal" type="text" class="form-control" id="CodePostal" placeholder="Code Postal" required>
                                <span asp-validation-for="CodePostal" class="text-danger"></span>
                        </div>
                            <div class="form-group">
                                <label asp-for="DateDeNaissance">Date de naissance</label>
                                <input asp-for="DateDeNaissance" type="date" class="form-control" id="dob" placeholder="Date de naissance" required>
                                <span asp-validation-for="DateDeNaissance" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateDembauche">Date d'embauche</label>
                                <input asp-for="DateDembauche" type="date" class="form-control" id="doh" placeholder="Date d'embauche" required>
                                <span asp-validation-for="DateDembauche" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="DateDeFinDemploi">Date de fin d'emploi</label>
                                <input asp-for="DateDeFinDemploi" type="date" class="form-control" id="doe" placeholder="Date de fin d'emploi" required>
                                <span asp-validation-for="DateDeNaissance" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="Salaire">Salaire</label>
                                <input asp-for="Salaire" class="form-control" id="Salaire" placeholder="Salaire" required>
                                <span asp-validation-for="Salaire" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input asp-for="Telephone" type="text" class="form-control" id="CodePostal" placeholder="Telephone" required>
                                <span asp-validation-for="Telephone" class="text-danger"></span>
                            </div>
                            <div class="form-group" style="padding-top: 10px;">
                                <select id="test" asp-for="UserId" class="form-control" asp-items="ViewBag.UserId"></select>
                            </div>
                        <div style="padding-top: 20px" class="text-center"><button class="btn" style="background-color:limegreen" type="submit" value="Save">Modifier</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>