@model ASP_MVC_SitePandas.Models.AllergiesEnfant;
@{
    ViewData["Title"] = "Create";
}

<section id="AllergieEnfant" class="padd-section">

    <div class="container" data-aos="fade-up">
        <div class="section-title text-center">
            <h2>Allergie de l'enfant'</h2>
            <p class="" style="text-align: center">Veuillez remplir les champs ci dessous pour ajouter une allergie pour l'enfant.</p>
        </div>

        <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="100">


            <div class="col-lg-5 col-md-8">

                <div class="form">
                    <form asp-action="Create">
                        <div class="form-group" style="padding-top: 10px;">
                            <select asp-for="EnfantId" class="form-control" asp-items="ViewBag.EnfantId"></select>
                             
                        </div>
                        <div class="form-group" style="padding-top: 10px;">
                            <select id="test" asp-for="AllergieId" class="form-control" asp-items="ViewBag.AllergieId"></select>
                        </div>
                        <div class="form-group mt-3">
                            <textarea id="test" asp-for="Intervention" class="form-control" rows="5" placeholder="Intervention" required></textarea>
                            <span asp-validation-for="Intervention" class="text-danger"></span>
                            
                        </div>
                        <div style="padding-top: 20px" class="text-center"><button class="btn" style="background-color:limegreen" type="submit" value="Create">Ajouter</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
